* { 
    font-family: fantasy;
    background-color: #dddddd;
    color: inherit;

}

.header {
    display: flex;
    flex: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.hero {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10%

}

.herotext {
    font-size: 20px;
    font-style: italic;
}

.lists {
    margin: 10%;
    display: flex;
    flex: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

ul.lists {
    list-style-type: none;
}

.button {
    display: flex;
    flex: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.notified {
    margin: 20px;
    
}


.updated {
    margin: 20px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.updated:hover {
    background-color: #196695;
    color: #dddddd;
}
